.playbar {
    position: fixed;
    right: 0;
    left: 0;
    width: 100vw;
    bottom: 0;
    background: #343a40;
}

.playbarContainer {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left center right";
}

.songInfo {
    grid-area: left;
}

.songControls {
    grid-area: center;
    
}

.volumeControls {
    display:block;
    grid-area: right;
    background: #343a40;
    margin: auto;
}

.volumeSlider{
    float: right;
}